<div class="container">
  <div class="row">
    <div class="col-md-12 topbar">
      <mat-card class="Vendorcard">Vendor Calender</mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" class="searchbar">
      <!-- <mat-toolbar class="spotlight">
        <i id="Icon" class="material-icons">search</i>Search</mat-toolbar> -->
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control"  placeholder="Search" >
          <span class="input-group-addon">
              <button type="submit">
                  <span class="glyphicon glyphicon-search"></span>
              </button>  
          </span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row milkcalender">
      <div class="col-md-6 milksubscription">
        Milk Subscription Details
      </div>
      <div class="col-md-6 pull-right calender">
        <mat-form-field class="calenders">
          <input matInput [matDatepicker]="picker" class="inputline">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- <div class="container">
              selectdate:{{selectdate}}
         </div> -->
      </div>
    </div>

  </div>
  <div class="container-fuild">
    <div class="row">
      <div class="col-md-4 cards">
        <mat-card class="milkcard">
          <div class="row milkpac">
            <div class="col-md-2 milkimg">
              <img src="/assets/images/milk.png">
            </div>
            <div class="col-md-6 milkheading">
              <h4 class="milkheading1">Full Cream Milk</h4>
              <h5 class="milkheading2">Heritage</h5>
              <h6 class="milkheading3">203 packs 1Lit</h6>
            </div>
            <div class="col-md-2 rups">
              $1243/-
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-4 cards">
        <mat-card class="milkcard">
          <div class="row milkpac">
            <div class="col-md-2 milkimg">
              <img src="/assets/images/milk.png">
            </div>
            <div class="col-md-6 milkheading">
              <h4 class="milkheading1">Full Cream Milk</h4>
              <h5 class="milkheading2">Heritage</h5>
              <h6 class="milkheading3">203 packs 1Lit</h6>
            </div>
            <div class="col-md-2 rups">
              $1243/-
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-4 cards">
        <mat-card class="milkcard">
          <div class="row milkpac">
            <div class="col-md-2 milkimg">
              <img src="/assets/images/milk.png">
            </div>
            <div class="col-md-6 milkheading">
              <h4 class="milkheading1">Full Cream Milk</h4>
              <h5 class="milkheading2">Heritage</h5>
              <h6 class="milkheading3">203 packs 1Lit</h6>
            </div>
            <div class="col-md-2 rups">
              $1243/-
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
