<div class="container">
  <div class="row icons">
    <div class="col-md-4">
      <img src="/assets/images/4-copy.png">
    </div>
    <div class="col-md-4">
      <img src="/assets/images/5-copy.png">
    </div>
    <div class="col-md-4">
      <img src="/assets/images/5-copy-2.png">
    </div>
  </div>
</div>
<div class="container">
  <div class="row footer">
    <div class="col-md-3">
      <p>QUI SOMMES-NOUS?</p>
    </div>
    <div class="col-md-3">
      <p>CONNEXION</p>
    </div>
    <div class="col-md-3">
      <p>CONNEXION</p>
    </div>
    <div class="col-md-3">
      <p>CONFIDENTIALITÉ</p>
    </div>
  </div>
</div>


