<div class="container">
  <div class="row">
    <div class="col-md-12 topbar">
      <mat-card class="productcard">Users</mat-card>
    </div>
  </div>
  <div class="container-2">
    <div class="row">
      <!-- fist card -->
      <div class="col-md-6">
        <mat-card>
          <div class="row persondetail">
            <div class="col-md-6 personal">
              <h4>Personal Details</h4>
            </div>
            <div class="col-md-6 text-right">
              <i class="material-icons modeedit">mode_edit</i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 username">
              <p>Keerthi Reddy</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 emails">
              <i class="material-icons">email</i>
            </div>
            <div class="col-md-3 email">
              <p>Kerthi@gmail.com</p>
            </div>
            <div class="col-md-2 phoneno">
              <i class="material-icons phno">call</i>
            </div>
            <div class="col-md-2 phonenumber">
              +9000066669
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 location">
              <i class="material-icons">location_on</i>
            </div>
            <div class="col-md-10 locations">
              <p>Jayabheri pine valle colony,Sri Pravallika Women's Hostel</p>
            </div>
          </div>
        </mat-card>
      </div>
      <!-- 2nd card -->
      <div class="col-md-6">
        <mat-card>
          <div class="row payment">
            <div class="col-md-6 paymentstyles">
              <h4>Payment Due Date</h4>
              <h6>02 jul' 17</h6>
              <button mat-raised-button>User History</button>
            </div>
            <div class="col-md-6 text-right paymentstyles">
              <h5>Payments Due</h5>
              <h2>$ 1500/-</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 text-center">
              <h6>from</h6>
            </div>
            <div class="col-md-1">
              <i class="material-icons calenders">today</i>
            </div>
            <div class="col-md-2 text-center">
              <h6>02 jul' 17</h6>
            </div>
            <div class="col-md-1 text-center">
              <h6>to</h6>
            </div>
            <div class="col-md-1">
              <i class="material-icons calenders">today</i>
            </div>
            <div class="col-md-2 text-center">
              <h6>02 jul' 17</h6>
            </div>
            <div class="col-md-4 text-right paymentstyles paymentbtn">
              <button mat-raised-button>User History</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 milksubscription">
        Milk Subscription Details
      </div>
      <div class="col-md-2 calender">
        <i class="material-icons calenders">today</i>
        <p class="date">02 jul' 17(wed)</p>
        <!-- <mat-form-field class="calenders">
            <input matInput [matDatepicker]="picker" class="inputline">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row fullcream">
      <div class="col-md-4">
        <mat-card class="milkcard">
          <div class="row">
            <div class="col-md-3 milkimg">
              <img src="/assets/images/milk.png">
            </div>
            <div class="col-md-8 milkheading">
              <h4>Full Cream Milk</h4>
              <h5>Heritage</h5>
              <h6>500 ml</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h6>Quality</h6>
            </div>
            <div class="col-md-6">
               <p><i class="material-icons calenders">today</i><span>00/00/17</span></p> 
                <!-- <p class="date">00/00/17</p> -->
              </div>
          </div>
          <div class="row milkpac">
              <div class="col-md-6 quality">
                <h6>2</h6>
              </div>
              <div class="col-md-6 ">
                 <p><i class="material-icons calenders">today</i><span>00/00/18</span></p> 
                  <!-- <p class="date">00/00/17</p> -->
                </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <h6 class="rups">$243/-</h6>
              </div>
              <div class="col-md-4 text-right">
                <h6 class="everyday">EveryDay</h6>
              </div>
            </div>


        </mat-card>
      </div>

      <div class="col-md-4">
          <mat-card class="milkcard">
            <div class="row">
              <div class="col-md-3 milkimg">
                <img src="/assets/images/milk.png">
              </div>
              <div class="col-md-8 milkheading">
                <h4>Full Cream Milk</h4>
                <h5>Heritage</h5>
                <h6>500 ml</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h6>Quality</h6>
              </div>
              <div class="col-md-6">
                 <p><i class="material-icons calenders">today</i><span>00/00/17</span></p> 
                  <!-- <p class="date">00/00/17</p> -->
                </div>
            </div>
            <div class="row milkpac">
                <div class="col-md-6 quality">
                  <h6>2</h6>
                </div>
                <div class="col-md-6 ">
                   <p><i class="material-icons calenders">today</i><span>00/00/18</span></p> 
                    <!-- <p class="date">00/00/17</p> -->
                  </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <h6 class="rups">$243/-</h6>
                </div>
                <div class="col-md-4 text-right">
                  <h6 class="everyday">EveryDay</h6>
                </div>
              </div>
  
  
          </mat-card>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right">
        <a routerLink="./addingproducts">
          <button mat-mini-fab class="add">
            <mat-icon>add</mat-icon>
          </button>
        </a>
      </div>
    </div>
  </div>
  <!--closing container-2-->
</div>