<div class="container">
  <div class="row">
      <div class="col-md-12 topbar">
        <mat-card class="productcard">users</mat-card>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 userdetails">
      <form [formGroup]="form">
      <mat-card>
          <div class="row personalbottom">
              <div class="col-md-6 personalstyle">
              <h4>User Registration</h4>
              </div>
              <div class="col-md-6 text-right buttonstyle">
                <button type="submit" mat-raised-button color="primary" (click)="userReg()">save</button>
              </div>
            </div>
            <div class="row textfieldstop">
                <div class="col-md-6">
                    <mat-form-field class="name">
                        <input name="name" matInput placeholder="Name" [(ngModel)] = "user.name" formControlName="name">
                        <div *ngIf="form.get('name').touched && form.get('name').invalid"></div>
                      </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="textfieldstyle">
                        <input name="email" matInput placeholder="Email" [(ngModel)] = "user.email" formControlName="email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <div *ngIf="form.get('email').touched && form.get('email').invalid"></div>
                      </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="textfieldstyle">
                        <input name="phone" matInput placeholder="Ph.No" [(ngModel)] = "user.phone" formControlName="phone">
                        <div *ngIf="form.get('phone').touched && form.get('phone').invalid"></div>
                      </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="pwdwidth">
                        <input name="password" type="password" matInput placeholder="Password" [(ngModel)] = "user.password" formControlName="password">
                        <div *ngIf="form.get('password').touched && form.get('password').invalid"></div>
                      </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="pwdwidth">
                      <input name="confirmpassword" type="password" matInput placeholder="confirm password" [(ngModel)] = "user.confirmpassword" formControlName="confirmpassword">
                      <div *ngIf="form.get('confirmpassword').touched && form.get('confirmpassword').invalid"></div>
                    </mat-form-field>
              </div>
                
              </div>
          
        </mat-card>  
        </form>
        <!-- {{user.name}}
        {{user.id}}
        {{user.active}} -->
<!-- {{exit}} -->
    </div>
  </div>
  
</div>