<!-- here starting addingproducts page -->
<!-- here start main container -->
<div class="container">
    <div class="row">
      <div class="col-md-12 topbar">
        <mat-card class="productcard">Products</mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" class="searchbar">
          <div class="input-group stylish-input-group">
              <input type="text" class="form-control"  placeholder="Search" >
              <span class="input-group-addon">
                  <button type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                  </button>  
              </span>
          </div>
          <!-- <mat-toolbar  class="spotlight"><i  id="Icon"class="material-icons">search</i>Search</mat-toolbar> -->
      </div>
    </div>    <!-- here starting milkproduct cards -->
    <div class="container-fuild">
        <div class="row">
            <div class="col-md-4 fullcream">
                <mat-card class="milkcard">
                    <div class="row milkpac">
                        <div class="col-md-2 milkimg">
                            <img src="/assets/images/milk.png">
                        </div>
                        <div class="col-md-6 milkheading">
                            <h5>Full Cream Milk</h5>
                            <h6>Heritage</h6>
                        </div>
                    </div>
                    <div class="row Litre">
                        <div class="col-md-4">
                            <h6>1 Litre</h6>
                        </div>
                        <div class="col-md-6 text-right rup">
                            <h6>$45</h6>
                        </div>
                        <div class="col-md-2 addsymbol">
                            <i class="material-icons add">cancel</i>
                        </div>

                    </div>
                    <div class="row ml">
                        <div class="col-md-4">
                            <h6>500 ml</h6>
                        </div>
                        <div class="col-md-6 text-right">
                            <h6>$22</h6>
                        </div>
                        <div class="col-md-2 addsymbol">
                            <i class="material-icons add">add_circle</i>
                        </div>

                    </div>
                </mat-card>

            </div>
            <div class="col-md-4 fullcream">
                <mat-card class="milkcard">
                    <div class="row milkpac">
                        <div class="col-md-2 milkimg">
                            <img src="/assets/images/milk.png">
                        </div>
                        <div class="col-md-6 milkheading">
                            <h5>Full Cream Milk</h5>
                            <h6>Heritage</h6>
                        </div>
                    </div>
                    <div class="row Litre">
                        <div class="col-md-4">
                            <h6>1 Litre</h6>
                        </div>
                        <div class="col-md-6 text-right rup">
                            <h6>$45</h6>
                        </div>
                        <div class="col-md-2 addsymbol">
                            <i class="material-icons add">add_circle</i>
                        </div>

                    </div>
                    <div class="row ml">
                        <div class="col-md-4">
                            <h6>500 ml</h6>
                        </div>
                        <div class="col-md-6 text-right">
                            <h6>$22</h6>
                        </div>
                        <div class="col-md-2 addsymbol">
                            <i class="material-icons add">cancel</i>
                        </div>

                    </div>
                </mat-card>

            </div>
            <div class="col-md-4 fullcream">
                <mat-card class="milkcard">
                    <div class="row milkpac">
                        <div class="col-md-2 milkimg">
                            <img src="/assets/images/milk.png">
                        </div>
                        <div class="col-md-6 milkheading">
                            <h5>Full Cream Milk</h5>
                            <h6>Heritage</h6>
                        </div>
                    </div>
                    <div class="row Litre">
                        <div class="col-md-4">
                            <h6>1 Litre</h6>
                        </div>
                        <div class="col-md-6 text-right rup">
                            <h6>$45</h6>
                        </div>
                        <div class="col-md-2 addsymbol">
                            <i class="material-icons add">add_circle</i>
                        </div>

                    </div>
                    <div class="row ml">
                        <div class="col-md-4">
                            <h6>500 ml</h6>
                        </div>
                        <div class="col-md-6 text-right">
                            <h6>$22</h6>
                        </div>
                        <div class="col-md-2 addsymbol">
                            <i class="material-icons add">add_circle</i>
                        </div>

                    </div>
                </mat-card>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-right">
              <a routerLink="./addingpersonalpayments">
            <button mat-mini-fab class="adds"><mat-icon>check</mat-icon></button>
          </a>
          </div>
        </div>
</div><!-- here colsing main container -->