<div class="row">
  <div class="col-md-12 hidden-lg hidden-md hidden-sm vissible-xs">
    <button class="btn btn-primary" (click)="showmenu()" >Menu</button>
  </div>
 </div>
 
 <div class="sidenav zindex" [style.display]="keepsidenav ? 'block' : null" >
  <div class="logoimg">
    <img src="/assets/images/digilogo.png">
  </div>
  <div class="side-nav" (click)="hidemenu()">
    <a routerLink="./dashboardhome" class="activable active">
      <i class="material-icons">perm_data_setting</i>
      <span>Dashboard</span>
    </a>
    <a routerLink="./users">
      <span class="glyphicon glyphicon-align-justify"></span>Users</a>
    <a routerLink="./calender">
      <span class="glyphicon glyphicon-align-justify"></span>Calender</a>
    <a routerLink="./products">
      <span class="glyphicon glyphicon-align-justify"></span>Products</a>
  </div>
 </div>
 
 
 
 
 
 
 
 
 
 
 
 
 <!-- <div class="left">
  
    <div class="item active">
      <a href="#">
        <span class="glyphicon glyphicon-home"></span>
        Dashboard</a>
    </div>
    <div class="item">
      <a href="#">
        <span class="glyphicon glyphicon-align-justify"></span>
        Users</a>
    </div>
    <div class="item">
      <a href="#">
        <span class="glyphicon glyphicon-align-justify"></span>
        Calender</a>
    </div>
    <div class="item">
      <a href="#">
        <span class="glyphicon glyphicon-align-justify"></span>
        products</a>
    </div>
  </div> -->
 
 
 
 
 
 
 <!-- dashboard -->
 <div class="main">
 
 <router-outlet></router-outlet>
 </div>