<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-2 pull-right signin">
         <a  routerLink="/login"> <button type="button" class="btn btn-default">SIGN IN</button></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 content">
        <h3>Welcome To<br>Milkman Project</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          Eos velit dolore commodi, cumque adipisci eius dolores molestiae perferendis aliquid doloremque 
          cupiditate sit ipsa soluta ratione deserunt quasi eum atque magni.Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          Eos velit dolore commodi, cumque adipisci eius dolores molestiae perferendis aliquid doloremque 
          cupiditate sit ipsa soluta ratione deserunt quasi eum atque magni.</p>
      </div>
    </div>
  </div>

</div>
<!-- <app-footer></app-footer> -->