
body {
    font-family: verdana;
  }
  
  .section {
    background-image: url("/assets/images/banner.jpg");
    
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    
  }
  .signin{
      color: white;
      padding: 28px;
  }
  
  .signin button{
      background-color:  #ffcc01;
      color: white;
      width: 100%;
      border-radius: 5px;
      padding: 12px;
  
  }
  .content{
    text-align: center;
    color: white;
    padding: 37px;
  }
  .content h3{
    font-size: 40px;
  }